<!DOCTYPE html>
<html lang="en"<% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <link rel="manifest" href="<%- require('assets/manifest.json') %>">
</head>
<body>
<div id="configurator-page" style="min-height: 100vh;">
 
</div>

<script>
  var cb = function() {
    var l = document.createElement('link');
    l.rel = 'stylesheet';
    l.href = '<%= htmlWebpackPlugin.files.css[0] %>';
    var h = document.getElementsByTagName('head')[0];
    h.parentNode.insertBefore(l, h);
  };
  var raf = window.requestAnimationFrame ||
    window.mozRequestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.msRequestAnimationFrame;
  if (raf) {
    raf(cb);
  }
  else {
    window.addEventListener('load', cb);
  }
</script>

<% for (var chunk in htmlWebpackPlugin.options.externals) { %><script src="<%=htmlWebpackPlugin.options.externals[chunk] %>"></script><% } %>


<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

<noscript>
  <div class="no-script">This website need Javascript. Please turn it on.</div>
</noscript>
</body>
</html>
